.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
**/*_mock.go

# Build artifacts
ipatool
ipatool-api
ipaserver
*.exe
*.dll
*.so
*.dylib
*.a
*.o

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work